<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327949233817-isnrhcf1ip58nvltcj7qm287fdgi7qm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327949233817-isnrhcf1ip58nvltcj7qm287fdgi7qm4</string>
	<key>API_KEY</key>
	<string>AIzaSyBpsM-D_fzXB4cPrfa16k_GqzXOYom0QCg</string>
	<key>GCM_SENDER_ID</key>
	<string>327949233817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mms.Traverse-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>traverse-swiftui-test</string>
	<key>STORAGE_BUCKET</key>
	<string>traverse-swiftui-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327949233817:ios:3887d3f4b92bf9f00e1208</string>
</dict>
</plist>